/* signin.css */

.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    color: white; /* Text color */
    background-image: url('../assets/background.svg'); /* Path to your background SVG */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent repeating */
    padding: 20px; /* Add some padding */
  }
  
  h1 {
    font-size: 3.5rem; /* Larger font for title */
    margin-bottom: 20px; /* Space below the title */
    color: white;
    

  }
  
  form {
    display: flex;
    flex-direction: column; /* Stack inputs vertically */
    width: 300px; /* Set a fixed width for the form */
  }
  
  .forminput {
    padding: 10px;
    margin-bottom: 15px; /* Space between inputs */
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .buttonContainer {
    display: flex; /* Use flexbox for alignment */
    gap: 10px; /* Space between buttons */
    margin-top: 15px; /* Space above buttons */
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #e50914; /* Netflix red */
    color: white;
  }
  
  button[type="button"] {
    background-color: #e50914; /* Dark grey */
    color: white;
  }
  
  button:hover {
    background: #f40612; /* Darker red on hover */
  }
  