/* App.css */

/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414; /* Dark background */
  color: white; /* Light text */
}

h1 {
  text-align: center;
  margin-top: 20px;
}

/* Input styles */


button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e50914; /* Netflix red */
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}

button:hover {
  background-color: #f40612; /* Darker red on hover */
}

/* Movie details styles */
.movieDetails {
  position: relative;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  min-height: 500px; /* Adjusted min height */
}

.detailsContent {
  background: rgba(0, 0, 0, 0.7); /* Dark overlay for details */
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.similarMovies {
  margin-top: 20px; /* Space between movie details and similar movies */
  background: rgba(0, 0, 0, 0.8); /* Darker background for similar movies section */
  padding: 20px;
  border-radius: 8px;
}
